.jScrollbar5 {	
	max-height:500px;
	overflow:hidden;
	position:relative;	
	padding:5px
}
.jScrollbar5 .jScrollbar_mask {
	width:95%;
	position:relative;
	top:0;
}

.jScrollbar5 .jScrollbar_draggable {
	float:left;
	width:11px;
	height:500px;
	overflow:hidden;
	background:none;
	background-color:#222222;
	border:1px solid #000;
	position:relative
}
.jScrollbar5 .jScrollbar_draggable a.draggable {
	position:relative;
	background:transparent url('../images/bg_draggable5.png') no-repeat;
	display:block;
	height:52px;
	width:11px;
	cursor:move
}